<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <style>
        * {
            margin-bottom: 4px;
        }
    </style>
</head>
<body>

<th:block th:each="user:${users}">
    <form method="post" th:action="@{/users/save}">
        <input readonly th:name="id" th:value="${user.id}">
        <input th:name="name" th:value="${user.name}">
        <input type="submit" value="Submit">
        <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
        <a th:href="@{/users/get/{id}(id=${user.id})}">Open</a>
    </form>
</th:block>

<form method="post" th:action="@{/users/save}">
    <input th:field="*{new.name}">
    <input type="submit" value="Submit">
</form>

<a th:href="@{/users/get}" th:if="${back}">Back</a>

</body>
</html>